<aside class="bg-gray-100 w-[270px] border rounded-xl px-2 py-4 shadow-sm">

  <!-- Header -->
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-medium text-primary">Filters</h3>
    <button
      mat-button
      class="text-sm text-[#FFD700] hover:underline"
      (click)="clearAll()">
      Clear All
    </button>
  </div>

  <!-- Categories (hidden when hideCategory = true) -->
  @if (!hideCategory) {
    <div class="mb-6">
      <h4 class="font-medium mb-3 text-gray-800">Categories</h4>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Select Category</mat-label>
        <mat-select [(ngModel)]="filters.category"
                    (ngModelChange)="filtersChange.emit(filters)">
          <mat-option value="">All Categories</mat-option>
          @for (cat of categories; track cat.slug) {
            <mat-option [value]="cat.slug">{{ cat.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }

  <!-- Country -->
  <div class="mb-2">
    <h4 class="font-medium mb-3 text-gray-800">Country</h4>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Select Country</mat-label>
      <mat-select [(ngModel)]="filters.country"
                  (ngModelChange)="filtersChange.emit(filters)">
        <mat-option value="">All Countries</mat-option>
        @for (country of countries; track country.code) {
          <mat-option [value]="country.code">{{ country.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Brands -->
  <div class="mb-2">
    <h4 class="font-medium mb-3 text-gray-800">Brands</h4>
    <div class=" max-h-52 overflow-y-auto">
      @for (brand of brands; track brand) {
        <label class="flex items-center gap-0 text-sm cursor-pointer">
          <mat-checkbox
            [checked]="filters.brands.includes(brand)"
            (change)="toggleBrand(brand)">
            {{ brand }}
          </mat-checkbox>
        </label>
      }
    </div>
  </div>

  <!-- Availability -->
  <div>
    <h4 class="font-medium mb-3 text-gray-800">Availability</h4>
    <label class="flex items-center gap-2 text-sm cursor-pointer">
      <mat-checkbox
        [(ngModel)]="filters.inStock"
        (ngModelChange)="filtersChange.emit(filters)">
        In Stock
      </mat-checkbox>
    </label>
  </div>

</aside>