/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
:root {
  --color-primary: #000080;   /* navy */
  --color-secondary: #FFD700; /* gold */
  --color-accent: #F8FAFC;    /* light gray */
}

/* Background colors */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }

/* Text colors */
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }

/* Border colors (optional) */
.border-primary { border-color: var(--color-primary); }
.border-secondary { border-color: var(--color-secondary); }
.border-accent { border-color: var(--color-accent); }
  .container-card {
    @apply 
        
           w-full mx-auto
           px-4
           sm:px-12
           lg:px-16
           xl:px-20
           2xl:px-24;
  }
  .mat-icon-large {
  font-size: 24px;
}